PORT=3000
ADMIN_ACCOUNT=admin
ADMIN_PASSWORD=change_this_admin_password
SESSION_SECRET=change_this_to_a_long_random_secret
LINE_CHANNEL_SECRET=your_line_channel_secret
LINE_CHANNEL_ACCESS_TOKEN=your_line_channel_access_token
LIFF_ID=your_liff_id
PLAYWRIGHT_BROWSERS_PATH=0
MALLBIC_ACCOUNT=your_mallbic_account
MALLBIC_PASSWORD=your_mallbic_password
MALLBIC_COMPANY_NAME=祥瑞華有限公司
MALLBIC_LOGIN_URL=https://ec.mallbic.com/Module/0_Login/Login.aspx?sid=g5c071iv
MALLBIC_AUTO_SYNC_ENABLED=true
MALLBIC_AUTO_SYNC_INTERVAL_MS=3600000
MALLBIC_ORDER_AUTO_SYNC_ENABLED=false
MALLBIC_ORDER_AUTO_SYNC_INTERVAL_MS=300000
ECPAY_MERCHANT_ID=your_ecpay_merchant_id
ECPAY_HASH_KEY=your_ecpay_hash_key
ECPAY_HASH_IV=your_ecpay_hash_iv
ECPAY_LOGISTICS_SUB_TYPE=UNIMARTC2C
ECPAY_LOGISTICS_AUTO_CREATE_ENABLED=true
ECPAY_SENDER_NAME=賣家
ECPAY_SENDER_CELL_PHONE=09xxxxxxxx
ECPAY_IS_COLLECTION=false
